<p style="color: green"><%= notice %></p>
<div class="card">
  <div class="card-header">
    <h1>Kategoriler</h1>
  </div>
  <div class="card-body">
    <div id="categories">
      <ul class="list-group">
        <% @categories.each do |category| %>
          <li id="<%= dom_id category %>" class="list-group-item">

            <strong>Kategori Adı: </strong>
            <%= link_to category.name, category %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Yeni Kategori", new_category_path %>
  </div>
</div>