<p style="color: green"><%= notice %></p>
<div class="card">
  <div class="card-header">
    <h1>Kategoriler</h1>
  </div>
  <div class="card-body">
    <div id="categories">
      <ul class="list-group">
        <% @categories.each do |category| %>
          <%= render category %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "New category", new_category_path %>
  </div>
</div>